# Copyright (c) 2026 Iomico
# SPDX-License-Identifier: Apache-2.0

if BOARD_MY_ESP32_BOARD

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 4096 if BOARD_MY_ESP32_BOARD_ESP32_PROCPU
	default 256 if BOARD_MY_ESP32_BOARD_ESP32_APPCPU

endif
