config BOARD_MY_ESP32_BOARD_FROM_SCRATCH
	select SOC_ESP32_D0WD_V3
	select SOC_ESP32_PROCPU if BOARD_MY_ESP32_BOARD_FROM_SCRATCH_ESP32_PROCPU
	select SOC_ESP32_APPCPU if BOARD_MY_ESP32_BOARD_FROM_SCRATCH_ESP32_APPCPU

config HEAP_MEM_POOL_ADD_SIZE_BOARD
	int
	default 4096 if BOARD_MY_ESP32_BOARD_FROM_SCRATCH_ESP32_PROCPU
	default 256 if BOARD_MY_ESP32_BOARD_FROM_SCRATCH_ESP32_APPCPU


config ESP32_USE_UNSUPPORTED_REVISION
	bool
	default y

config CONSOLE
	bool
	default y

config SERIAL
	bool
	default y

config UART_CONSOLE
	bool
	default y

config GPIO
	bool
	default y